:root {
    --primary-text-color: #212121;
    --second-color: #757575;
    --third-color: #2F303A;
    --back-color: #FFFFFF;
    --back1-color: #000000;
    --back2-color: #F5F5F5;
    --blue-color: #2196F3;
    --social-icon-color: #afb1b8;
    --hover-focus-color: #F5F4FA;
    --fourth-color: rgba(255, 255, 255, 0.6);
}

.visually-hidden {
    position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
}

body {
  font-family: 'Roboto', sans-serif, 'Raleway', sans-serif; 
  font-size: 14px; 
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=================================HEADER==============================*/

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 1px solid transparent;
}

.header {
    border-bottom: 1px solid #ECECEC;
}

.wrapper {
    display: flex;
align-items: center;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.logo-header {
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: var(--back1-color);
text-decoration: none;
padding-top: 24px;
padding-bottom: 25px;
margin-right: 93px;
}

.logo-part {
    color: var(--blue-color);
}

.site-contact:hover,
.site-contact:focus {
    display: flex;
    gap: 50px;
    color: var(--blue-color)
}

.site-nav {
    display:flex;
    align-items: center;
    gap: 50px;
}

.team {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.link-current {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--blue-color);
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 30px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-current:hover,
.link-current:focus {
    color: var(--accent-color);
}

.second-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.second-link:hover,
.second-link:focus {
    color: var(--blue-color);
}

.link {
    text-decoration: none;
}

.contact-link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--second-color);
text-decoration: none;
padding-top: 32px;
padding-bottom: 32px;
display: flex;
align-items: center;
transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus  {
    color: var(--blue-color);
}

.contact-icon {
    fill: var(--second-color);
    margin-right: 10px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-icon {
    fill: currentColor;
}

.contact-icon:hover,
.contact-icon:focus {
    fill: var(--blue-color);
}

/*=======================HERO====================================*/

.hero-section {
    background-color: var(--third-color);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),url(../img/team.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
}

.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--back-color);
width: 696px;
text-align: center;
margin-left: auto;
margin-right: auto;
margin-bottom: 30px;
}

.container-box {
    background-color: #2F303A;
}

.btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--blue-color);
    border-radius: 4px;
    border: none;
    color: var(--back-color);
    cursor: pointer;
    display: inline-block;
    padding: 10px 32px;
    transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
    background-color: var(--blue-color);
    color: var(--back-color);
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.site-contact {
    display: flex;
    gap: 50px;
    margin-left: auto;
}

/*=================================ADVANTAGES==============================*/

.list {
    gap: 50px;
}

.advantages-list {
    display: flex;
    gap: 30px;
}

.box-benefits {
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: calc((100% - 90px) / 4);
    }    

    .benefits {
        width: 70px;
        height: 70px;
    }

.section-subtitle {
    list-style: none;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

.section-text {
    line-height: 1.71;
    color: var(--second-color);
    margin-top: 10px;
}

/*=======================OUR-WORK=========================*/

.business-section {
    padding-top: 0;
}

.title-question {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 50px;
}

.business-list {
    display: flex;
    gap: 30px;
}

.thumb {
    position: relative;
    }    

.thumb > .label {
    position: absolute;
    bottom: 0;
    width: 370px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    background: rgba(47, 48, 58, 0.8);
}

.work-item {
    display: block;
    max-width: 100%;
    height: auto;
    gap: 30px;
}

/*==================================OUR-TEAM======================*/

.section-team {
    background: var(--hover-focus-color);
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 50px;
}

.list-crew {
    display: flex;
}

.team-item {
    background-color: var(--back-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-people {
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}

.team-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-color);
    margin-top: 10px;
}

.team-container {
    padding: 30px 0;
}

.headline-social {
    display:flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
}

.headline-soc {
    width: 44px;
    height: 44px;
    transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.headline-soc-site:hover,
.headline-soc-site:focus {
   fill: var(--back-color);
}

.social-site {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--social-icon-color);
    transition-property: background-color, fill;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-site:hover,
.social-site:focus {
    background-color: var(--blue-color);
    fill: var(--back-color);
}



/*======================================CLIENTS===========================*/


.title-clients {
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 50px;
}

.clients-list {
    display: flex;
    gap: 30px;
}

.clients-list-item {
    width: 170px;
    height: 92px;
}

.box-companies {
width: 100%;
height: 100%;
border: 1px solid var(--social-icon-color);
border-radius: 4px;
fill: var(--social-icon-color);
display: flex;
justify-content: center;
align-items: center;
transition-property: fill, border;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.box-companies:hover {
 fill: var(--blue-color);
 border: var(--blue-color) solid 1px;
}

.clients-icon {
    width: 106px;
    height: 60px;
}

/*============================PORTFOLIO===========================*/

.button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background: var(--hover-focus-color);
    border-radius: 4px;
    cursor: pointer;
    border: none;
    display: inline-block;
    padding: 6px 22px;
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--back-color);
    background: var(--blue-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    border: none;
    cursor: pointer;
}

.services {
    color: var(--back2-color);
}

.menu {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 50px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.list-img {
    flex-basis: calc((100% - 60px) / 3);
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list-img:hover,
.list-img:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-thumb {
    position: relative;
    overflow: hidden;
}

.main-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.main-overlay:hover,
.main-overlay:focus {
    transform: translateY(0);
}

.projects-overlay-text {
    position: absolute;
    width: 100%;
    height: 100%;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding: 63px 24px;
}

.products-link {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    display: block;
}

.products-link:hover .projects-overlay-text, 
.products-link:focus .projects-overlay-text {
    opacity: 1;
    top: 0;
}

.products-link:hover .main-overlay, 
.products-link:focus .main-overlay {
    transform: translateY(0);
}

.products-container {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
    margin-bottom: 4px;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--second-color);
}

/*==============================FOOTER=====================*/

.footer-back {
    background-color: var(--third-color);
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
}

.logo-footer {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--blue-color);
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
}

.logo-web {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--back-color);
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 25px;
}

.address-item:not(:last-child) {
    margin-bottom: 9px;
}

.map-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--back-color);
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.map-link:hover,
.map-link:focus {
       color: var(--blue-color);
}

.address-list-item {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--fourth-color);
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-item:hover,
.address-list-item:focus {
    color: var(--blue-color);
}

.address-item:hover,
.address-item:focus {
    background-color: var(--third-color);
    color: var(--hover-focus-color-color);
}

.address-part {
   display: flex; 
   align-items: baseline;
}

.footer-container-social {
    margin-left: 70px;
}

.footer-social-title {
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 20px;
}

.footer-social-list {
    display: flex;
    gap: 10px;
}

.footer-social-item {
    width: 44px;
    height: 44px;
}

.footer-social-link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--blue-color);
}

.footer-icon-social {
    display: block;
    fill: currentColor;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


/*========================MODAL-WINDOW====================*/

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    transition: opacity 300ms linear, visibility 300ms linear;
}

.modal {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    padding: 40px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%);
}

.modal-close {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

 .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-title {
font-style: normal;
font-weight: 700;
font-size: 20px;
text-align: center;
color: #212121;
margin-bottom: 20px;
}

.input-wrap {
    position: relative;
}

.input-label {
font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;
color: #757575;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 10px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 30px;
}

.modal-input-icon {
    position: absolute;
    display: inline-block;
    top: 8px;
    left: 15px;
    transform: translateY(-50%);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
    font-size: 12px;
    color: rgba(117, 117, 117, 0.5);
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    padding: 12px 16px;
}

.check-box {
width: 16px;
height: 15px;
border-radius: 2px;
margin-top: 20px;
}

.form-custom-check {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
}

.form-agree-link {
    color: #2196F3;
}