.footer {
    background-color: $third-color;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
  }
.footer__container {
    @media screen and (min-width: 1200px) {
    display: flex; 
    align-items: baseline;
    }
  }
  .address-wrap {
    text-align: center;

    @media screen and (min-width: 1200px) {
        text-align: left;
      }
    }
    .address {
        font-style: normal;
      }
.footer__logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $blue-color;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
}
.footer__logo-web {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $back-color;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 25px;
  }

      .address__list {
        margin-bottom: 60px;
        
        @media screen and (min-width: 1200px) {
          margin-bottom: 0;
        }
      }
      .address__item:not(:last-child) {
        margin-bottom: 8px;
      
        @media screen and (min-width: 1200px) {
          margin-bottom: 9px;
        }
      }
    .address__link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
    color: $blue-color;
}
    }
    .map-link {
        color: $back-color;
    }
    
.footer-social {
    margin-left: 70px;
}
.footer-social__title {
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 20px;

@media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.social__list {
}
.footer-socials__list {
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}
.social__item {
}
.footer-socials__item {
}
.social__link {
}
.footer-socials__link {
    background-color: rgba(255, 255, 255, 0.1);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $blue-color;
}
}
.footer-socials__icon {
  fill: $back-color;
}

.container__footer-form {
    @media screen and (min-width: 1200px) {
        width: 570px;
        height: 86px;
        margin-left: 93px;
      }
}
.footer-form__call {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var($back-color);
    margin-bottom: 20px;
    
    @media screen and (min-width: 1200px) {
        text-align: left;
      }
}

.footer-form {
    @media screen and (min-width: 1200px) {
    display: flex;
    }
}
.footer-form__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var($third-color);
  color: var($back-color);

  @media screen and (min-width: 768px) {
    display: block;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
  }
}
.footer-form__btn {
  position: relative;
  display: flex;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  padding-left: 28px;
  padding-right: 62px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  background-color: var($blue-color);
  color: var($back-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
&:hover,
&:focus {
    background-color: #188CE8;
}
.footer-form__icon {
    position: absolute;
    right: 28px;
    top: 13px;
}
}



